<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
  <meta name="author" content="Creative Tim">
  <title>Wanda</title>
  <!-- Favicon -->
  <link rel="icon" href="/assets/img/brand/favicon.png" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="/https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="/assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <!-- Page plugins -->
  <!-- Argon CSS -->
  <link rel="stylesheet" href="/assets/css/argon.css?v=1.2.0" type="text/css">
  <style>
    html{
  
  overflow-x: hidden;
    }
  </style>
</head>

<body>
  <!-- Sidenav -->
  <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header  align-items-center">
        <a class="navbar-brand" href="javascript:void(0)">
          <img src="/assets/img/brand/connectify.png" class="navbar-brand-img" alt="...">
        </a>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link " href="/users">
                <i class="ni ni-tv-2 text-primary"></i>
                <span class="nav-link-text">Connect</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/nexus">
                <i class="ni ni-atom text-primary"></i>
                <span class="nav-link-text">Nexus Resources</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/users/upload">
                <i class="ni ni-spaceship text-pink"></i>
                <span class="nav-link-text">Upload</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/vision">
                <i class="ni ni-planet text-orange"></i>
                <span class="nav-link-text">Vision</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/profile/<%- user._id %>">
                <i class="ni ni-single-02 text-yellow"></i>
                <span class="nav-link-text">Profile</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/users/settings">
                <i class="ni ni-settings text-default"></i>
                <span class="nav-link-text">Settings</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">
                <i class="ni ni-button-power text-info"></i>
                <span class="nav-link-text">Logout</span>
              </a>
            </li>
            
          </ul>
          <!-- Divider -->
          
        </div>
      </div>
    </div>
  </nav>
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Search form -->
       <center>
          <marque class="mb-0 text-sm  font-weight-bold" style="color: white;"><i>"Push yourself because no one else is going to do it for you. One of these 5 a.m's is going to make you a legand"</i></marque>
        </center>
          <!-- Navbar links -->
          <ul class="navbar-nav align-items-center  ml-md-auto ">
            <li class="nav-item d-xl-none">
              <!-- Sidenav toggler -->
              <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </div>
            </li>
          
          <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
            <li class="nav-item dropdown">
              <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media align-items-center">
                 
                  <div class="media-body  ml-2  d-none d-lg-block">
                    <i class="ni ni-circle-08" style="font-size: medium;"></i>
                    <span class="mb-0 text-sm  font-weight-bold"><%= user.name %></span>
                  </div>
                </div>
              </a>
              <div class="dropdown-menu  dropdown-menu-right ">
                <div class="dropdown-header noti-title">
                  <h6 class="text-overflow m-0">Welcome!</h6>
                </div>
                <a href="/user/profile/<%- user._id %>" class="dropdown-item">
                  <i class="ni ni-single-02"></i>
                  <span>My profile</span>
                </a>
                <a href="/users/settings" class="dropdown-item">
                  <i class="ni ni-settings-gear-65"></i>
                  <span>Settings</span>
                </a>

                <a href="#" class="dropdown-item">
                  <i class="ni ni-support-16"></i>
                  <span>Support</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="/logout" class="dropdown-item">
                  <i class="ni ni-user-run"></i>
                  <span>Logout</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Header -->
    <!-- Header -->
    <div class="header  pb-12">
      <div class="container-fluid">
        <br>
        <br>
        <h3 style="font-family: Georgia, 'Times New Roman', Times, serif; "><i>"When you dream of conquering the world and you fill your agenda with daunting projects, it’s often necessary to equip yourself with a large mug of coffee and with the right people. Any successful project, be it big or small, has one thing at its core: effective collaboration, and you can achieve it with knowledge sharing."</i></h3>
        <p>
          1. Share valid resources <br>
          2. Links should be specific to the topic <br>
          3. Avoid using Shortforms <br>
          4. Keep the title as accurate as possible <br>
      </p>
        <form action="/users/upload" method="POST">
          <div class="row">
    <div class="form-group col-md-12">
      <label for="example-text-input" class="form-control-label" rows="5">Title</label>
      <input type="text" name="title" id="title" class="form-control" placeholder="Eg. Getting Started with React">
    </input>
    </div>
    <div class="form-group col-md-12">
      <label for="example-text-input" class="form-control-label" rows="5">Books</label>
      <textarea name="books" id="books" class="form-control" placeholder="The Road to React, React in Action (Seperate multiple books with commas)"></textarea>
    </div>
    <div class="form-group col-md-12">
      <label for="example-text-input" class="form-control-label" rows="5">Blogs</label>
      <textarea name="blogs" id="blogs" class="form-control" placeholder="https://www.sanity.io/guides/build-your-first-blog-using-react (Seperate multiple blogs with commas)"></textarea>
    </div>
    <div class="form-group col-md-12">
      <label for="example-text-input" class="form-control-label" rows="5">Videos</label>
      <textarea name="videos" id="videos" class="form-control" placeholder="https://www.youtube.com/watch?v=pCA4qpQDZD8 (Seperate multiple videos with commas)"></textarea>
    </div>
  <div class="form-group col-md-12">
    <center>
      <input class="form-control" type="hidden"  name="name" id="name"  value = "<%= user.name %>" required />
      <input class="form-control" type="hidden"  name="userid" id="userid"  value = "<%= user._id %>" required />
    <button class="btn btn-icon btn-primary" type="submit">
      <span class="btn-inner--icon"><i class="ni ni-favourite-28"></i>&nbsp Submit</span>
    </button>
  </center>
</div>
</form>
      </div>
    </div>

      <!-- Footer -->
      <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6">
            <div class="copyright text-center  text-lg-left  text-muted">
              &nbsp  &copy; 2020 <a href="/" class="font-weight-bold ml-1" target="_blank">Wanda</a>
            </div>
          </div>
          <div class="col-lg-6">
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
             
              <li class="nav-item">
                <a href="#" class="nav-link" target="_blank">Terms & Conditions</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" target="_blank">Privacy Policy &nbsp</a>
              </li>
              
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <!-- Optional JS -->
  <script src="/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <!-- Argon JS -->
  <script src="/assets/js/argon.js?v=1.2.0"></script>
</body>

</html>
